---
layout: master
title: Another test
permalink: converter/another.html

converter:
    name: AFTERCOMMAND
    description: Trigger the provided animation..
    usage: 
      - animationId command condition
      - animationId command

parameters:
  - name: animationId
    type: int
    comment: specify by "@anim/animation"
  - name: command
    type: gueei.binding.Command
  - name: condition
    type: boolean
    
---

<h2>{{ page.converter.name }}</h2>
<p>{{ page.converter.description }}</p>

<div class="usage">
{{ page.converter.name }}(
{% for item in page.parameters %}
<span class="type">{{ item.type }}</span>&nbsp;
<span class="paraname" id="param-{{item.name}}">{{ item.name }}</span>
<% if forloop.last %>
<% else %>,
<% endif %>
{% endfor %}
)
</div>