<?xml version="1.0" encoding="UTF-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.example.androidbinding.plugin.abs.sample">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>

    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name="SampleApplication" android:theme="@style/AppTheme">

    <activity android:label="MainActivity" android:name=".MainActivity" android:theme="@style/Theme.Sherlock">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
	</application>

</manifest>