---
layout: master
---

{% for converter in page.converters %}
<div class="converter">
    <div class="usage">
    <span class="type return-type">{{ converter.return.type_short }}</span>
    <span class="converter-name">{{ converter.name }}</span>(
    {% for item in converter.parameters %}
    <span class="type">{{ item.type_short }}</span>&nbsp;
    <span class="paraname" id="param-{{item.name}}">{{ item.name }}</span>
    {% if forloop.last %}
    {% else %},
    {% endif %}
    {% endfor %}
    )
    </div>
    <div class="description">
    <p>{{ converter.description }}</p>
    <h4>Parameters</h4>
    <table>
    <tbody>
    {% for item in converter.parameters %}
    <tr>
        <th>{{ item.name }}</th>
        <td>{{ item.comment }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <h4>Returns</h4>
    {{ converter.return.comment }}
    </div>
</div>
{% endfor %}