<?xml version="1.0" encoding="utf-8" standalone="no"?>
	<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
	    android:versionCode="1" 
	    android:versionName="1.0" 
	    package="gueei.binding.binablelayout.test">
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />
    <application 
        android:icon="@drawable/icon" 
        android:label="@string/app_name" 
        android:name="AndroidBindingBindableLayoutTestApplication">
        <activity
            android:name=".MainActivity"
            android:label="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BindableFrameLayoutActivity"
            android:label="BindableFrameLayoutActivity">
        </activity>
        <activity
            android:name=".BindableLinearLayoutActivity"
            android:label="BindableLinearLayoutActivity">
        </activity>     
        <activity
            android:name=".BindableTableLayoutActivity"
            android:label="BindableTableLayoutActivity">
        </activity>  
	</application>
</manifest>
